$def with (form)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>C++ code style checker</title>
</head>
<body>

        
<div id="description" class="module">


    <h2>Add a new exercise</h2>

    <div>
    </div>

    <form id="NyProfileEditDescription" method="post" action="/admin/add-exercise">
        <div>
            $:form.render()
        </div>
        <div class="submit&gt;">
            <input name="submit" value="Submit" type="submit">
        </div>

    </form>
</div>

    

</body>
</html>

